02_Injecting_different_numbers/02_injecting_different_numbers.json
[{"id":"ad7fa604.aa9258","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"63a3f009.ddd83","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":230,"y":260,"wires":[["9db8900a.a31d5"]]},{"id":"9db8900a.a31d5","type":"debug","z":"ad7fa604.aa9258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":260,"wires":[]},{"id":"90c5b296.b00258","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":230,"y":340,"wires":[["9db8900a.a31d5"]]},{"id":"4c9c18df.3a29b8","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":230,"y":420,"wires":[["9db8900a.a31d5"]]},{"id":"3a8c8d03.ccf092","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":230,"y":500,"wires":[["9db8900a.a31d5"]]}]