05_Average/05_average.json
[{"id":"ad7fa604.aa9258","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9db8900a.a31d5","type":"debug","z":"ad7fa604.aa9258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"fdfe1d2c.1fdd9","type":"ui_chart","z":"ad7fa604.aa9258","name":"","group":"cbf9324c.fcd15","order":9,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":340,"wires":[[]]},{"id":"633f9f3f.a18938","type":"function","z":"ad7fa604.aa9258","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["9db8900a.a31d5","fdfe1d2c.1fdd9","715cb1de.983758"]]},{"id":"bd1a6cbe.88e3b","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":580,"wires":[["4ca55f95.752c2"]]},{"id":"63a3f009.ddd83","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":390,"y":260,"wires":[["633f9f3f.a18938"]]},{"id":"90c5b296.b00258","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":390,"y":340,"wires":[["633f9f3f.a18938"]]},{"id":"4c9c18df.3a29b8","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":390,"y":420,"wires":[["633f9f3f.a18938"]]},{"id":"3a8c8d03.ccf092","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":390,"y":500,"wires":[["633f9f3f.a18938"]]},{"id":"4ca55f95.752c2","type":"rpi-dht22","z":"ad7fa604.aa9258","name":"","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":380,"y":580,"wires":[["633f9f3f.a18938"]]},{"id":"715cb1de.983758","type":"smooth","z":"ad7fa604.aa9258","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":860,"y":420,"wires":[["b31d5a2b.b5c4d","b250ddfa.a4f558"]]},{"id":"b31d5a2b.b5c4d","type":"debug","z":"ad7fa604.aa9258","name":"Average","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":420,"wires":[]},{"id":"b250ddfa.a4f558","type":"ui_gauge","z":"ad7fa604.aa9258","name":"","group":"cbf9324c.fcd15","order":10,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":500,"wires":[]},{"id":"cbf9324c.fcd15","type":"ui_group","name":"Sensors","tab":"3a95c74c.6e5358","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a95c74c.6e5358","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]