03_Simple_dashboard/03_simple_dashboard_1.json
[{"id":"ad7fa604.aa9258","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"63a3f009.ddd83","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":230,"y":260,"wires":[["9db8900a.a31d5","fdfe1d2c.1fdd9"]]},{"id":"9db8900a.a31d5","type":"debug","z":"ad7fa604.aa9258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"90c5b296.b00258","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":230,"y":340,"wires":[["9db8900a.a31d5","fdfe1d2c.1fdd9"]]},{"id":"4c9c18df.3a29b8","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":230,"y":420,"wires":[["9db8900a.a31d5","fdfe1d2c.1fdd9"]]},{"id":"3a8c8d03.ccf092","type":"inject","z":"ad7fa604.aa9258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":230,"y":500,"wires":[["9db8900a.a31d5","fdfe1d2c.1fdd9"]]},{"id":"fdfe1d2c.1fdd9","type":"ui_chart","z":"ad7fa604.aa9258","name":"","group":"cbf9324c.fcd15","order":9,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":360,"wires":[[]]},{"id":"cbf9324c.fcd15","type":"ui_group","name":"Sensors","tab":"3a95c74c.6e5358","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a95c74c.6e5358","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]